body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color:#f0f0f0;
 margin: 0px ;
}

.calculator {

 border: 1px solid #ccc;
 border-radius: 5px ;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0,0,0,0.4);
 width: 300px;
}

#display {
 width: 300px;
 padding: 10px;
 font-size: 1.5em;
 text-align: left;
 border: none;
  }

.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
}

button {
padding: 20px;
font-size: 1.2em;
background-color:#f0f0f0;
cursor: pointer;
border: none;
}

button:hover  {
background-color: #ddd;
}